<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smoothies API</title>
</head>
<body>
    <h1>Add Smoothie</h1>
    <form action="/addSmoothie" method="POST">
        <input type="text" placeholder="Liquid" name="liquid">Liquid
        <input type="text" placeholder="Protein" name="protein">Protein
        <input type="text" placeholder="Fruit" name="fruit">Fruit
        <input type="text" placeholder="Spread" name="spread">Spread
        <input type="text" placeholder="Carbs" name="carbs">Carbohydrates
        <input type="text" placeholder="Fats" name="fats">Fats
        <input type="text" placeholder="Extras" name="extra">Extra
        <input type="submit">
    </form>


</body>
</html>